- var CommentItems = [["first", "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!", "Ковальчук Дмитрий", "Основатель Loftschool"], ["second", "Этот код выдержит любые испытания. Только пожалуйста, не загружайте на слишком старых браузерах", "Сабанцев Владимир", "Преподаватель"]]

.feedback__connect
    h4.feedback__connect-title Связаться со мной
    form.feedback__connect-forms(id="connect-forms")
        .feedback__connect-field    
            .feedback__connect-row
                .feedback__connect-block
                    .feedback__connect-icon
                        +icon('user', 'feedback__connect-icon')
                    label.connect__subtext(for="user-connect-id") Введите ваше имя
                    input.connect__form(id="user-connect-id" type="text" name="name" placeholder="Максим" required)
                .feedback__connect-block
                    .feedback__connect-icon
                        +icon('envelope', 'feedback__connect-icon')
                    label.connect__subtext(for="email-connect-id") Введите ваш email
                    input.connect__form(id="email-connect-id" type="email" name="email" placeholder="loftschool@study.com" required)
            .feedback__connect-row
                .feedback__connect-textarea
                    .feedback__connect-icon
                        +icon('message', 'feedback__connect-icon')
                    label.connect__subtext(for="textarea-connect-id") Сообщение к письму
                    textarea.connect__form(class="connect__form-textarea" id="textarea-connect-id" name="textarea" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена." required)
        button.feedback__connect-button(id="submit-button" type="submit" value="Отправить") Отправить    
