- var name = "Максим Никульников"
- var NavItems = [["", "#", "Главная"], ["", "#", "Обо мне"], ["", "#", "Навыки"], ["", "#", "Работы"], ["", "#", "Отзывы"], ["", "#", "Связаться"]]
- var SocialItems = [['','https://instagram.com/maxnikulnikov', 'insta'],['', 'https://vk.com/maxnikulnikov', 'vk'],['', 'https://github.com/maxnhub', 'github']]

footer.footer
    .container
        .footer__field
            .footer__author
                .footer__author-copy ©2019
                .footer__author-desc
                    h4.footer__author-name #{name}
                    p.footer__author-text Личный сайт  веб-разработчика
            .footer__main
                +navs(NavItems, 'footer')
                .footer__main-desc
                    .footer__main-socials 
                        p.footer__main-text Этот сайт я сделал в рамках обучения в Школе онлайн образования
                        +socials(SocialItems, 'footer')
                    .footer__main-quotation
                        p.footer__main-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живёте
                        p.footer__main-italictext Martin Golding