- var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
- var SocialItems = [['','https://instagram.com/maxnikulnikov', 'insta'],['', 'https://vk.com/maxnikulnikov', 'vk'],['', 'https://github.com/maxnhub', 'github']]
- var NavItems = [["", "#", "Главное"], ["", "#", "Обо мне"], ["", "#", "Навыки"], ["", "#", "Работы"], ["", "#", "Отзывы"], ["", "#", "Связаться"]]

header.header
    +icon('favicon', 'header__icon')
    +navs(NavItems, 'header')
    .header__socials
        +socials(SocialItems, 'header')
            
            