- var name = "Максим Никульников"        
    .main__title
        .main__title-desc Личный сайт веб разработчика
        h1.main__title-name=`${name}`
.main__scroll
    p.main__scroll-text Скролл
    .main__scroll-icon