- var name = "Максим Никульников" 
.parallax__layer(data-speed="0.18")
    +image('content/parallax1.png', 'parallax__image-sky')
.parallax__layer(data-speed="0.28")
    +image('content/parallax2.png', 'parallax__image-mountain')     
    +image('content/parallax-top.png', 'parallax__image-top')
    .main__title
        .main__title-desc Личный сайт веб разработчика
        h1.main__title-name=`${name}`
.parallax__layer(data-speed="0.38")
    +image('content/parallax3.png', 'parallax__image-train')
    +image('content/parallax-down.png', 'parallax__image-down')
    .main__title.main__title--down
        .main__title-desc Личный сайт веб разработчика
        h1.main__title-name=`${name}`
.parallax__layer(data-speed="0.45")
    +image('content/parallax4.png', 'parallax__image-field')
.parallax__layer(data-speed="0.52")
    +image('content/parallax5.png', 'parallax__image-shadow')
.parallax__layer(data-speed="0.56")
    +image('content/parallax6.png', 'parallax__image-shadow2')
.parallax__content