- var SkillItems = [["html", "HTML5", "90"], ["css", "CSS3", "80"], ["js", "Javascript", "45"], ["vue", "Jquery и Vue.js", "20"]]
- var SkillItemsNext = [["git", "GIT", "70"], ["terminal", "Terminal", "50"], ["gulp", "Gulp", "50"], ["webpack", "Webpack", "30"]]

.skills__info
    .skills__info-block
        h3.skills__info-title Чем я могу быть полезен вам
        p.skills__info-text=skillsInfo
.user__skills(class='skills__graphic')
    ul.user__skills-list(class='skills__graphic-list')
        li.skills__row
                h4.skills__row-title Front-end
                +skills(SkillItems, 'frontend')
        li.skills__row
                h4.skills__row-title Workflow
                +skills(SkillItemsNext, 'workflow')

