include ./views/common/mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    +link('favicon.ico')
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    title Portfolio Nikulnikov Maksim | main page
  body
    .wrapper
      .maincontent
        .wrapper-main
          section.main
            include views/common/parallax.pug
        section.about-me
          .container
            include views/common/aboutme.pug
                  

        section.skills
          .container
            .skills__info
              .skills__info-block
                h3.skills__info-title Чем я могу быть полезен вам
                p.skills__info-text=skillsInfo
            .skills__widget
              #skills-component

        section.myworks
          .container(class="container--myworks")

            include views/common/myworks.pug

        section.feedback
          .container

            include views/common/feedback.pug
          
        include views/common/footer.pug

include ./templates/entry.pug
        